@import 'components/Profile/Profile.css';
@import 'components/Statistics/Statistics.css';
@import 'components/Stats/Stats.css';
@import 'components/StatsCard/StatsCard.css';
@import 'components/FriendListItem/FriendListItem.module.css';
@import 'components/TransactionHistory/TransactionHistory.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
